body {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    background-image: url(login.webp);
}

.login-container {
    background-color:white;
    box-shadow:  10px black;
    padding: 30px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    background-color:rgba(0, 0, 255, 0.589);
}

h1 {
    color:black;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: blue;
}
